.container{
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{overflow-x: hidden;}
header{padding: .5rem}
section{padding: .5rem}
footer{padding: .5rem}

/* -----
   light
   ---- */
.light-theme{background: #f9f9f9; color: black;}
.light-theme a{color: #1579A8;}
.light-theme .theme-button{background: #333333; color: white; border: none;}
.light-theme hr{width: 80%; color: rgba(249, 249, 249, 0.288);}
.light-theme li{color:#DF164F;}
.light-theme li a{color:#DF164F;}
.light-theme .card{
  border: 1px solid rgba(51, 51, 51, 0.24);
}
  /* might implement bottom recolor */
  /* 
  .light-theme ul {background: rgb(87, 85, 85);}
  .light-theme ul .html5{color:#e29c33;}
  .light-theme ul .js{color:#f8df52;}
  .light-theme ul .css3{color:#a3c9ec;}
  .light-theme li .bootstrap{color:#a571e9;}
  .light-theme li .react{color:#36bee4;}
  .light-theme li .nodejs{color:#3ba539;}
  .light-theme li .pyt{color: #3c8ed1;} .light-theme li .hon{color: #e7b900;}
  .light-theme li .flask{color: #ffffff;}
  .light-theme li .vs{color:#007bcd;}*/

/* ----
   dark
   ----*/
.dark-theme{background: #333333; color: #f9f9f9;}
.dark-theme a{color: #1579A8;}
.dark-theme .theme-button{background: #f9f9f9; color: black; border: none;}
.dark-theme hr{width: 80%; color: rgba(88, 88, 88, 0.877);}
.dark-theme li a {color: #b48d9f;}
.dark-theme li {color: #b48d9f;}
.dark-theme ul .html5{color:#e29c33;}
.dark-theme ul .js{color:#f8df52;}
.dark-theme ul .css3{color:#a3c9ec;}
.dark-theme li .bootstrap{color:#7c47c8;}
.dark-theme li .react{color:#61dafb;}
.dark-theme li .nodejs{color:#448942;}
.dark-theme li .pyt{color: #3c78a9;} .dark-theme li .hon{color: #e0c145;}
.dark-theme li .flask{color: #f1f1f1;}
.dark-theme li .vs{color:#0066b8;}
.dark-theme .card{
  background: rgba(112, 126, 206, 0.103);
  border: 1px solid rgba(51, 51, 51, 0.24);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.123); 
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.123);
}

/* text styling */
.thinner-font{font-weight: 400;}
h1{font-weight: 400; margin-bottom: 0;}
h2{font-weight: 500; font-size: 17pt; margin: .5rem 0;}
.section-info{opacity: .5; font-size: 11pt;}
p{margin: .5rem 0;}
a{text-decoration: none;}

ul{
  display: inline-flex;
  flex-wrap: wrap;
  border-radius: 4px;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 90%;
}
li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12.5pt;
  padding: 1rem;
}

/* card */
  /* placeholder colours should be kept for dark-theme. */
.card{
  display: inline-flex;
  align-content: center;
  flex-direction: column;
  width: 90%;
  padding: .2rem .5rem;
  text-align: left;
}
.card .under-title{
  font-size: 10pt;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.under-title a{
}
.card h3{font-weight: 400; margin-bottom: 0;}



.theme-button{
  transition: transform 2s;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 65px;
  width: 65px;
  margin: 0 1rem 1rem 0;
  border-radius: 50%;
  font-size: 11pt;
}
#time{
  padding: .2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 0 1rem 1rem;
  font-size: 10pt;
}

/* Animations */
.anim-enlarge{
  transform: scale(40);
  transition: transform .5s ease-in-out;
}
/*#button-anim{opacity: 0;}*/
.anim-dark-to-light{animation-name: dark-to-light; animation-duration: .5s; }
.anim-light-to-dark{animation-name: light-to-dark; animation-duration: .5s; }
.anim-fade-in{animation-name: fade-in; animation-duration: .5s; }
.anim-fade-out{animation-name: fade-out; animation-duration: .5s; }
@keyframes dark-to-light {
  0% { background-color: #f1f1f1; }
  25% { background-color: rgb(204, 204, 204); }
  50% { background-color: rgb(105, 105, 105); }
  75% { background-color: rgb(27, 27, 27);}
  100% { background-color: #333333;; }
}
@keyframes light-to-dark{
  100% { background-color: #f1f1f1; }
  75% { background-color: rgb(204, 204, 204); }
  50% { background-color: rgb(105, 105, 105); }
  25% { background-color: rgb(27, 27, 27);}
  0% { background-color: #333333;; }
}
@keyframes fade-in {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}
@keyframes fade-out {
  0% { opacity: 1; }
  20% { opacity: 0.9; }
  40% { opacity: 0.5; }
  60% { opacity: 0.3; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

/* Footer */
footer{
  padding: 1rem;
}
footer p{margin: 0;}



/* ----------------
   Desktop Viewport
   ---------------- */
@media (min-width:1281px)  {
  .container{
    width: 80%;
  }
  .card{
    display: inline-flex;
    width: 320px;
    height: 450px;
    margin: .5rem;
  }
  .card img{
    width: 100%;
    height: 300px;
  }
  ul{
    display: inline-flex;
    flex-wrap: wrap;
    border-radius: 4px;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .theme-button{margin-right: 15%; margin-bottom: 2%;}
  .anim-enlarge{
    transform: scale(60);
    transition: transform 1s;
  }
  #time{
    height: 25px;
    left: unset;
    right: 0;
    margin-right: 11.5%; 
    margin-bottom: 2%;
  }
}

